.mainParent{
    display: flex;
    background-color: #F7FBF7;
    justify-content: space-between;
    padding-top: 10px;
    position: sticky;
    top: 0;
}
.firstParent{
    display: flex;
    gap: 10px;
    align-items: center;
    opacity: 0.8;
    font-size: 0.9em;
    font-family: "Roboto";
}
.iconOne{
    display: flex;
    gap: 10px;
}
.iconOne img{
    width: 20px;
}