
.forZindex{
    z-index: -1 !important;
  background: #fff;

}
.card {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
  border: 1px solid #006600;
  /* width: 300px; */
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.cardBody {
  padding: 15px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  font-weight: bold;
}

.desc {
  font-size: 14px;
  color: #555;
}
.heading4{
    text-align: center;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 15px;

}

/* Arrow container */
:global(.swiper-button-next),
:global(.swiper-button-prev) {
  width: 45px;
  height: 45px;
  background-color: #1f7a3f;   /* green */
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Arrow icon */
:global(.swiper-button-next::after),
:global(.swiper-button-prev::after) {
  font-size: 10px !important;
  color: white !important;
  font-weight: bold;
}

/* Hover effect */
:global(.swiper-button-next:hover),
:global(.swiper-button-prev:hover) {
  background-color: #145c2d;
}





/* add image code starts here */



.addParent{
    background-color: #E6EAED !important;
    border-radius: 10px;
    margin-top: 20px !important;
}

.containerOne img{
    width: 400px !important;
    height: 200px !important;
}


/* add image code ends here */