.head3{
    text-align: center;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
}
.serviceCard1{
    height: 150px;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #006600 !important;
}
.serviceCard1:hover{
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px; */
    border-radius: 10px;
    cursor: pointer;
}
.serviceCard1 img{
    margin-bottom: 10px;
}
.link{
    text-decoration: none;
    color: black;

}