.navBarTopPartParent {
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    gap: 12px;
    margin-top: 10px;
    /* height: 200px; */
}

.forImage img {
    width: 60px;
}

.forText {
    margin-top: 15px;
}

.forText p {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 430px;
    font-size: 14px;
    font-family: "Roboto";
    padding-top: 10px;
}

@media only screen and (max-width:523px) {

    .forText p {
        font-size: 11px !important;
        width: 90%;
    }

    .forText h6 {
        font-size: 12px !important;
    }
}





/* bootstrap nav bar custom styling starts here */

.customNavbarParent {
    background-color: #006600;
    margin-top: 10px;
}

.customButton {
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 15px;
    margin-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.customButton:hover {
    background-color: #006600;
    border: 2px solid white;
    color: white;
}

.specialLink {
    background-color: #E3F649 !important;
    border-radius: 10px;
    /* height: 20px; */
}

/* bootstrap nav bar custom styling ends here */