.customParent img{
    width: 100%;
}


/* marquee custom styling starts here */

.marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: #004d00; /* dark green background */
  color: white;
  padding: 10px 0;
  font-weight: 500;
}

.marquee-content {
  display: flex;
  gap: 50px; /* space between texts */
  animation: scroll 20s linear infinite;
}

.marquee-content p {
  display: inline-block;
  margin: 0;
}

/* Keyframes: scroll from right to left */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}



/* marquee code ends here// */