.imgCardOne img{
    width: 250px;
    height: 160px;
    border-radius: 13px;
}

@media only screen and (max-width:575px){
    .imgCardOne img{
        width: 100%;
    }
}

.heading4{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn button{
    border: 2px solid #006600;
    border-radius: 8px;
    color: #006600;
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px;
}




/* MEDIA CENTER PART CODE STARTS HERE */

.mediaCard1{
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 15px;
    /* border: 1px solid red; */
}

.mediaCard1:hover{
    background-color: #C5E5CE;
}

.heading5{
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
}

.imgParent{
    display: flex;
    justify-content: center;
}
.imgParent img{
    width: 100px;
}
.mediaCard1 h5{
    text-align: center !important;
    font-weight: bold;
    opacity: 0.7;
}

/* MEDIA CENTER PART CODE ENDS HERE */